# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual Environment
# ==============================

.venv/
venv/
env/

# ==============================
# Environment Variables / Secrets
# ==============================

.env
*.env

# Keep the example environment file
!.env.example

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# Data
# ==============================

data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# ==============================
# Machine Learning
# ==============================

*.pkl
*.joblib
*.h5
*.keras
*.onnx

# ==============================
# Logs
# ==============================

*.log
logs/

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Testing
# ==============================

.pytest_cache/
.coverage
htmlcov/

# ==============================
# MLflow
# ==============================

# MLflow
mlruns/
mlflow.db

# ==============================
# Temporary files
# ==============================

*.tmp
*.temp